# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Log files
*.log

# Executable files
*.sh

# virtualenv
.venv
venv/
ENV/

# Pycharm Project
.idea/

# Experiments
experiments/
!experiments/.gitkeep

# Other project-specific folders
videos/
tmp/
weights/