progressbar
torch
numpy
Pillow
opencv-python
scipy
matplotlib
scikit-image
git+https://github.com/pdollar/coco.git#egg=pycocotools&subdirectory=PythonAPI
tensorboardX
jsonschema
torchvision
progressbar2
skeltorch==1.1.0b2
jpeg4py